#  PTR
The default value for sep is space.

The parameter header specifies the number of the row whose values are to be used the column names. By default it is 0

If we want to display the column with a label of our choice , after adding a comma we write names=["L1 "," L2"," L3"," L4"]

# Importing From CSV

In [4]:
import pandas as pd
marks = pd.read_csv("C:/Users/Sarveshwar Mishra/Desktop/Book1.csv",sep=",",header=0)
marks

   Roll No     Name  Eco  Maths
0        1    Arnab   85    100
1        2  Kritika   63     60
2        3   Divyam   47     90
3        4    Vivan   80     82
4        5  Aaroosh  100     95

# Exporting as a CSV

If we do not want the column names to be saved to the file we may use the parameter header=False

Similarly for row, index =  False

In [11]:
ResultSheet = {"Arnab":pd.Series([90,91,97],index=["Maths","Science","Hindi"]),
              "Riya":pd.Series([100,95,78],index=["Maths","Science","Hindi"]),
              "Ishita":pd.Series([47,100,98],index=["Maths","Science","Hindi"]),
              "Samridhi":pd.Series([97,52,100],index=["Maths","Science","Hindi"]),
              "Rohan":pd.Series([89,82,77],index=["Maths","Science","Hindi"])}
df = pd.DataFrame(ResultSheet)

In [12]:
df.to_csv(path_or_buf="C:/Users/Sarveshwar Mishra/Desktop/ResultSheet.csv",sep=",")